@{
    ViewData["Title"] = "Pagina Principal";
}

<div class="text-center">
    <h1 class="display-4">SALÃO MULHER INVISÍVEL</h1>
       <h3 class="display-5"> Sua Beleza Oculta</h3>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>
